.body {
    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.wrapper {
    display: flex;
    gap: 10px;
}

.header {
    width: 50%;
    margin: auto;
}
.whole-wrapper {
    width: 50%;
    margin: auto;
}
